<h3 class="titulo">Bem-vindo!</h3>
  
<p>Esta aplicação é um modelo de arquitetura padrão do PEDeS.</p>
<ul>
  <li><b>Backend:</b> Java EE</li>
  <li><b>Frontend: </b> Angular {{ ng_version }}</li>
</ul>
<br />
<p>Consulte os links abaixo para mais informações:</p>
<ul>
  <li><b>Login Caixa:</b> <a target="_blank" href="http://wikides.caixa/mediawiki/index.php/Integra%C3%A7%C3%A3o_de_aplica%C3%A7%C3%B5es_e_servi%C3%A7os_ao_SISET-SSO"> Wiki com informações sobre a integração com o Login Caixa.</a></li>
</ul>

<br />
<br />